body {
  font-family: "Poppins", sans-serif;
  background-color: #010005;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)),
    url("../images/header.jpg");

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  color: white;
  padding: 200px 0;
}

header h1 {
  font-size: 96px;
  font-weight: 700;

  margin: 30px 0;
}

header h2 {
  font-size: 40px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}

header h3 {
  font-size: 24px;
  font-weight: 900;
  letter-spacing: 5px;
  line-height: 1.5;
  margin: 0;
}

header a {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin: 0;
  background-color: white;
  text-decoration: none;
  padding: 16px 32px;
  color: black;
  margin-top: 32px;
  display: inline-block;
}

section {
  max-width: 100%;
  margin: 0 auto;
  padding: 100px;
}

section.secondary {
  background-color: #181525;
}
main {
  background-color: #101017;
  color: white;
}

main h2 {
  color: white;
  opacity: 0.3;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin: 0;
}
main h3 {
  font-size: 40px;
  font-weight: 700;
  margin: 0;
}

main h4 {
  font-size: 24px;
  font-weight: 700;
  margin: 0;
}

main h5 {
  font-size: 13px;
  font-weight: 700;
  margin: 0;
}
main p {
  font-size: 16px;

  font-weight: 400;

  opacity: 0.5;
}

main .button {
  display: block;

  background-color: white;
  color: black;
  line-height: 21px;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
}

footer {
  color: white;
  background-image: linear-gradient(
      rgba(39, 32, 68, 0.9),
      rgba(39, 32, 68, 0.9)
    ),
    url("/images/footer.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
footer h3 {
  font-size: 20px;
  font-weight: 700;
}
footer p {
  font-size: 16px;
  font-weight: 400;
  opacity: 0.6;
}
footer li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
footer ul {
  padding: 0;
}
footer a {
  color: white;
  opacity: 0.7;
  line-height: 30px;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}
.img-responsive {
  max-width: 100%;
  display: block;
}

.grid {
  display: grid;

  grid-gap: 64px;
}
.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}
.grid-3-columns {
  grid-template-columns: 1fr 1fr 1fr;
}
.grid-3-columns-with-first-narrow {
  grid-template-columns: 1fr 2fr 2fr;
}

.text-center {
  text-align: center;
}

.card {
  background: #535380;

  margin: 30px 0;
}

.card p {
  font-size: 16px;
  font-weight: 400;
}

.card-body {
  padding: 30px;
}
.card-footer {
  padding: 30px;
}

@media (max-width: 960px) {
  header {
    padding: 60px 0;
  }
  header h1 {
    font-size: 48px;
  }
  header h2 {
    font-size: 20px;
  }
  header h3 {
    font-size: 12px;
  }
  section {
    padding: 30px;
  }
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }
}
